alembic==1.13.1
Flask==3.0.3
Flask_Assets==2.1.0
Flask_Login==0.6.3
Flask_Mail==0.9.1
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
langchain_community==0.0.34
langchain_text_splitters==0.0.1
libsass==0.23.0
PyJWT==2.8.0
python-dotenv==1.0.1
SQLAlchemy==2.0.29
WTForms==3.1.2
setuptools==69.5.1
pyodbc==5.1.0
email_validator==2.1.1
