{% extends "./base/base.html" %}
{% block title %}Chat{% endblock %}
{% block head %}
{{ super() }}
{% assets "chat_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar.css') }}">

{% endassets %}
{% endblock %}
{% block body %}

<section id="main-container">
  <div class="chat">
    <div class="messages">
      <div class="messages-content mCustomScrollbar _mCS_1 mCS_no_scrollbar">
        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;"
          tabindex="0">
          <!-- <div id="mCSB_1_scrollbar_vertical"
            class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;">
            <div class="mCSB_draggerContainer">
              <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                style="position: absolute; min-height: 30px; top: 0px; height: 0px;">
                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                <div class="mCSB_draggerRail"></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="message-box">
      <span id="input" class="input message-input" role="textbox" data-placeholder="Escribe un mensaje..."
        aria-placeholder="Escribe un mensaje..." contenteditable>

      </span>
      <div id="input-buttons">
        <button id="send-btn" type="button" class="message-submit"><i class='bx bxs-send'></i></button>
        <button id="reset-btn" type="button" class="message-submit"><i class='bx bx-reset'></i></i></button>
      </div>

    </div>
  </div>
  <div id="toast-container">
  </div>
</section>
<script type="module" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
<script type="module" src="{{ url_for('static', filename='js/scrollbar.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}