{% extends "./base/base_auth.html" %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
<section class="auth">
<div class="container-form">
    <div class="information">
        <div class="info-childs">
            <h2>Cambiar Contraseña</h2>
            <p class="description">Por favor, introduce y confirma tu nueva contraseña.</p>
        </div>
    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <form class="form" id="change-password-form" action="/change-password/{{ token }}" method="post">
                <label for="new-password">
                    <i class='bx bx-lock'></i>
                    <input type="password" id="new-password" name="new-password" placeholder="Nueva Contraseña" required>
                </label>
                <label for="confirm-password">
                    <i class='bx bx-lock'></i>
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirmar Contraseña" required>
                </label>
                <input type="submit" value="Cambiar contraseña" id="submit-password">
                <input type="hidden" name="form-key" value="form-change-password">
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}
