{% extends "./base/base_auth.html" %}
{% block title %}Restablecer contraseña{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<section class="auth">
    <div class="bubble-container"></div>
    <div class="forgot-pass-form">
        <div class="form-information-childs">
            <h2>Cambiar contraseña</h2>
            <p>Introduzca su email, le enviaremos un enlace para restablecer su contrseña</p>
            <div class="icons">
            </div>
            <form class="form" id="forgot-pass-form" action="" method="">
                <label for="email">
                    <i class='bx bx-envelope'></i>
                    <input type="email" id="email" name="email" placeholder="Email">
                </label>
                <input type="submit" value="Enviar">
                <a href="/auth" class="gradient-text">
                    <i class='bx bx-arrow-back'></i> Volver al Inicio
                </a>
            </form>
        </div>
    </div>
</section>
<div id="toast-container"></div>
</section>
{% endblock %}