aside {
    font-style: normal;
    width: 300px;
    background-image: linear-gradient(30deg , var(--second-color), var(--primary-color));
    border-top-right-radius: 80px;
  }

  aside ul{
    padding: 0;
  }

  aside p {
    margin: 0;
  }

  aside h1{
    text-align: center;
    padding: 10px;
    padding-right: 20px;
  }

  aside ul#bar-elements{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  aside ul li{
    list-style-type: none;
    margin-top: 10px;
  }

  .bar-item a {
    display: block;
    font-size: 18px;
    color: var(--sidebar-text-color);
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    border-bottom-left-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;    
    padding: 12px;
    padding-left: 30px;
    -webkit-tap-highlight-color:transparent;
  }

  
  aside ul>li.bar-item a:hover {
    background: transparent;
    position: relative;
    background-color: #fff;
    opacity: 0.8;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
  }

  li#logout{
    font-size: larger;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
  }

  li#logout a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--sidebar-text-color);
    font-size: 20px;
    justify-content: center;
  }

  li#logout a:hover {
    color: #fff;
  }

  .copyright{
    text-align: center;
    padding: 20px;
    color: var(--primary-color);
    font-size: smaller;
  }