<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - 404</title>
    {% assets "error_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body translate="yes" class="error-container">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="main">
        <h1>404</h1>
        <h2>Página no encontrada :(<br>¿Te has perdido?</h2>
        <button type="button" onclick="window.location.href = '/auth';" id="redirect-btn">Volver</button>
    </div>
</body>

</html>